@import "../../styles/variables";
@import "../../styles/mixin";

.header {
    background-color: $dark-blue;
    height: 5rem;
    display: flex;
    // justify-content: ;
    // align-items: center;
    position: sticky;
    z-index: 998;
    top: 0;
    left: 0;
    // padding-right: 2rem;

    h1 {
        // padding-left: 2rem;
        align-self: center;
        text-align: center;
        color: $white;
        flex-grow: 1;
    }
    .userContainer {
        width: 20vw;
        align-self: center;
        display: flex;
        justify-content: flex-end;
    }

    .userLink {
        align-self: center;
        display: flex;
        width: 36px;
        height: 36px;
        margin-right: 2rem;
        padding: 0.5rem;
        border-radius: 100%;
        box-sizing: content-box;
        transition: all 0.2s;

        &:hover {
            background-color: $light-blue;
        }
    }

    .navContainer {
        @include shadow();
        display: flex;
        // justify-content: center;
        position: fixed;
        top: 5rem;
        left: 0;
        height: calc(100vh - 5rem);
        width: 20vw;
        background-color: $dark-grey;
        // padding: 2rem 0;

        nav {
            width: 100%;
            // padding: 2rem;
            .menuList {
                // background-color: black;
                display: flex;
                // gap: 1rem;
                flex-direction: column;
                align-items: flex-start;

                li {
                    display: flex;
                    // gap: 1rem;
                    // align-items: baseline;
                    // background-color: white;
                    width: 100%;

                    .menuLink {
                        font-size: 1.1rem;
                        align-items: flex-end;
                        justify-content: flex-start;
                        gap: 1rem;
                        display: flex;
                        width: 100%;
                        color: $white;
                        padding: 1rem;
                        cursor: pointer;
                        &:hover {
                            background-color: $dark-blue;
                        }

                        &__text {
                            font-size: 1.1rem;
                            flex-grow: 2;
                            display: flex;
                            width: 100%;
                            color: $white;
                        }
                    }
                }

                // .add {
                //     display: flex;
                //     // width: 28px;
                //     // background-color: black;
                // }
            }

            .submenu {
                display: flex;
                flex-direction: column;

                &__list {
                    visibility: hidden;
                    height: 0;
                    background-color: $intermediate-greytwo;
                    transition: all 0.5s;
                    overflow-y: hidden;
                }

                .active {
                    visibility: visible;
                    height: 15rem;
                }
            }
        }
    }

    .imageContainer {
        @include shadow();
        display: flex;
        width: 20vw;
        background-color: $light-blue;
        justify-content: center;
    }
}

.main {
    margin-left: 20vw;
    padding: 1rem 2rem;
    min-height: calc(100vh - 5rem - 3rem - 1px);
}

.footer {
    align-items: center;
    margin-left: 20vw;
    display: flex;
    height: 3rem;
    background-color: $white;
    border-top: $border-grey 1px solid;
    padding: 1rem 2rem;
    justify-content: space-between;

    .logo {
        width: 3rem;
    }
}
