@import "../../styles/_variables.scss";

.mainTitleContainer {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px $border-grey solid;
    text-align: start;
    font-size: 1.2rem;
}

.noMargin {
    margin-bottom: 0;
}
