@import "./styles/variables";

:root {
  font-size: 16px;
  font-family: "roboto", sans-serif;
}

body {
  background-color: $light-grey;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: $dark-grey;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.input {
  background-color: $white;
}
